*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ---------------------------section barre de navigation--------------------------- */

/* -- ----------------------------section-home------------------------------------- -- */
#home .container-fluid{
   
}
.degrade{

    margin-top: 150px; 
    background: linear-gradient(to right,#0D423DE5,#0CC7B5E5);
}
.degrade p{
    font-size: 25px;
}
#home .row img{
  
    transform: rotate(358deg);
    height: 450px;
    width: 350px;
    margin-top: 150px;
}

/* -- ----------------------------section-programme------------------------------------- -- */
.rectangle{
    background-color: #0D423DE5;
}
/* ------------------------------section-nos-diplomes--------------------------------------- */
#admission .vecteur img {
    width: 100%;
    height: 150px;
}
#admission .diplome{
    background-color: #F44336;
}
#nos-activites .vecteur img {
    margin-top: -20px;
    width: 100%;
    height: 160px;
}
#nos-activites .diplome{
    background-color: #F44336;
}

#nos-activites button, #nos-coachs button, 
#partenaire button, #nos-activites button, 
#programme button, #home button 
{
    background: #F44336;
}

/* ------------------------------nos coachs--------------------------------------- */
#nos-coachs .row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#nos-coachs .row .card img {
    width: 25%;
}


/* -----------------------------section-nos-activités-------------------------------------- */
#nos-activites .vecteur img {
    display: flex;
    width: 100%;
    height: 200px;
    margin-bottom: -50px;
}

#nos-activites .mon-act{
   
    background-color: #F44336;
}
/* -----------------------------section-nos-partenaires-------------------------------------- */

#partenaire .container .row img{
    height: 80px;
    width: 80px;
}
#partenaire .container .row .logo{
    border: 1px solid rgb(185, 178, 178);
}

/* -----------------------------section-footer-------------------------------------- */
#footer .container-fluid{
    background-color: #009688;
}
#footer .icons{
    margin-left: -125px;
}
/* ------------------------responsivite--------------------------- */
@media screen AND (max-width: 900px){
    #home .row{
        display: flex;
        flex-direction: column-reverse;
    }
    #nos-coachs .row{
        display: flex;
        flex-direction: column;

    }
    #nos-activites .container-fluid .row{
        display: flex;
        flex-direction: column;
    }
}